  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,100;0,500;0,600;1,400;1,500;1,600&display=swap');
body{
    background-color: turquoise;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 92.5vh;
}
h3{
    color: white;
    text-align: center;
}
.mybuttons-group{
    display: flex;
    justify-content: center;
}
.textarea:focus{
    box-shadow: none;
    outline: none;
}

 .task-completed{
    color: gray;
    text-decoration: line-through;
} 
#button-add2{
    color: blue;
    border: none;
    font-size: 20px;
    margin-right: 15px;
    border-bottom: 2px solid;
    transition: 1s;
}
#button-add3{
    color: red;
    border: none;
    font-size: 20px;
    margin-right: 15px;
    border-bottom: 2px solid;
    transition: 1s;
}
.input:focus{
    outline: none !important ;
    border: none !important;
    box-shadow: none !important;
}
#cards-to-be-added{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-custom{
    margin: 10px !important;
    padding: 10px;
    background-color: white;
}
.myButton{
    margin-right: 15px;
    color:red !important ;
    cursor: pointer;
}
.Button{
    margin-right: 15px;
    color:blue !important ;
    cursor: pointer;
}
.uncheck{
    text-decoration: none;
    color: black;
}
